<div class="card">
  <div class="card-body">
    <%= form_for [:backoffice, @category] do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nome da categoria</label>
            <div class="col-sm-9">
              <% if @category.name != nil %>
                <%= f.text_field(:name,
                                 class: "form-control",
                                 placeholder: @category.name,
                                 required: true) %>
              <% else %>
                <%= f.text_field(:name,
                                 class: "form-control",
                                 placeholder: "Nome da categoria",
                                 required: true) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit('Salvar', class: 'btn btn-success rounded') %>
        <%= link_to 'Voltar', backoffice_categories_path, class: 'btn btn-primary rounded' %>
      </div>
    <% end %>
  </div>
</div>