<div class="row purchace-popup">
  <div class="col-12">
    <span class="d-block d-md-flex align-items-center">
      <%= link_to "/backoffice/categories/new", class: "btn btn-success btn-lg btn-fw" do %>
        <i class="mdi mdi-plus-circle" style="color: white"></i>
        <span class="menu-title">Nova categoria</span>
      <% end %>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-tag text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Total de categorias</p>
            <div class="fluid-container">
              <% if Category.last != nil %>
                <div class="card-body">
                  <h3 class="font-weight-medium text-right mb-0">
                    <%= Category.count %> categorias
                  </h3>
                </div>
              <% end %>
              <h3 class="font-weight-medium text-right mb-0"><%= @total_amount %></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>Quantidade total de categorias
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Listagem completa de categorias</h4>
    <div class="table-responsive" style="overflow-y: auto;">
      <table class="table table-striped Flipped">
        <thead>
        <tr>
          <th>
            Nome da categoria
          </th>
          <th>
            Bens associados
          </th>
          <th>
            Criada em
          </th>
          <th>
            Informações
          </th>
          <th>
            Editar
          </th>
          <th>
            Excluir
          </th>
        </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td class="py-1">
              <%= category.name %>
            </td>
            <td>
              <% if category.inventory_items.count == 0  %>
                Nenhum bem
              <% elsif category.inventory_items.count == 1 %>
                <%= category.inventory_items.count %> bem
              <% else %>
                <%= category.inventory_items.count %> bens
              <% end %>
            </td>
            <td>
              <%= category.created_at.strftime("%d/%m/%Y") %>
            </td>
            <td>
              <%= link_to "/backoffice/categories/#{category.id}", class: "text-info" do %>
                <i class="fa fa-reply fa-fw"></i>Informações</a>
              <% end %>
            </td>
            <td>
              <%= link_to "/backoffice/categories/#{category.id}/edit", class: "text-primary" do %>
                <i class="fa fa-reply fa-fw"></i>Editar</a>
              <% end %>
            </td>
            <td>
              <%= link_to "/backoffice/categories/#{category.id}", method: "delete", data: {confirm: "Tem certeza?"}, class: "text-danger" do %>
                <i class="fa fa-reply fa-fw"></i>Excluir</a>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
