<div class="card">
  <div class="card-body">
    <%= form_for [:backoffice, @item] do |f| %>
      <p class="card-description">
        Informações gerais do produto
      </p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nome do produto</label>
            <div class="col-sm-9">
              <% if @item.name != nil %>
                <%= f.text_field(:name,
                                 class: "form-control",
                                 placeholder: @item.name,
                                 required:true) %>
              <% else %>
                <%= f.text_field(:name,
                                 class: "form-control",
                                 placeholder: "Nome do produto",
                                 required: true) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Valor do produto</label>
            <div class="col-sm-9">
              <% if @item.value != nil %>
                <%= f.number_field(:value,
                                   class: "form-control",
                                   placeholder: @item.value,
                                   min: 0,
                                   required: true) %>
              <% else %>
                <%= f.number_field(:value,
                                   class: "form-control",
                                   placeholder: "Valor do produto (individualmente)",
                                   min: 0,
                                   required: true) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Quantidade</label>
            <div class="col-sm-9">
              <%= f.number_field(:amount, class: "form-control", placeholder: @item.amount, min: 0, required:true) %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Estado de uso</label>
            <div class="col-sm-9">
              <%= f.select :used, options_for_select([['Novo', false], ['Usado', true]], :selected => f.object.used),
                           {}, class: "form-control", required: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Observações</label>
            <% if @item.observation != nil %>
              <%= f.text_area(:observation,
                               class: "form-control",
                               placeholder: @item.observation,
                               required: true) %>
            <% else %>
              <%= f.text_area(:observation,
                               class: "form-control",
                               placeholder: "Observações sobre o produto",
                               required: true) %>
            <% end %>
          </div>
        </div>
      </div>

      <p class="card-description">
        Informações gerais a respeito da doação
      </p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nome do doador</label>
            <div class="col-sm-9">
              <%= f.text_field(:donor, class: "form-control", placeholder: @item.donor, required:false) %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nome do recebedor</label>
            <div class="col-sm-9">
              <%= f.text_field(:receiver, class: "form-control", placeholder: @item.receiver, required:false) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Doador interno?</label>
            <div class="col-sm-9">
              <%= f.select :internal, options_for_select([['Não', false], ['Sim', true]], :selected => f.object.used),
                      {}, class: "form-control", required: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit('Salvar', class: 'btn btn-success rounded') %>
        <%= link_to 'Voltar', backoffice_items_path, class: 'btn btn-primary rounded' %>
      </div>
    <% end %>
  </div>
</div>

