<div class="row purchace-popup">
  <div class="col-12">
    <span class="d-block d-md-flex align-items-center">
      <%= link_to "/backoffice/items/new", class: "btn btn-success btn-lg btn-fw" do %>
        <i class="mdi mdi-plus-circle" style="color: white"></i>
        <span class="menu-title">Nova doação</span>
      <% end %>
      <%= link_to "/backoffice/items_list", class: "btn btn-primary btn-lg btn-fw" do %>
              <i class="mdi mdi-view-list" style="color: white"></i>
              <span class="menu-title">Listagem de doações</span>
            <% end %>
    </span>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h2><%= @item.name %></h2>
    <div id="item_grid" >
      <%= render 'backoffice/items/show_table', locals: {item: @item} %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <h3>Observações</h3>
          <p>
            <%= @item.observation %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <p class="mb-0">Estado de uso:</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium mb-0">
                  <% if @item.used == true %>
                    Item usado
                  <% else %>
                    Item novo
                  <% end %>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= link_to 'Editar', "/backoffice/items/#{@item.id}/edit", class: 'btn btn-primary rounded' %>
        <%= link_to 'Voltar', backoffice_items_list_path, class: 'btn btn-primary rounded' %>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-10">
    <div class="card" style="margin-top: 1em">
      <div class="card-body">
        <h2>Produto perdido?</h2>
        <%= form_for [:backoffice, @item], remote: :true,
                     :url => {:controller => "backoffice/items", :action => "lost_item", method: :put} do |f| %>
          <h4 class="card-description">
            Dar baixa no produto
          </h4>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Quantidade perdida</label>
                <div class="col-sm-9">
                  <%= f.number_field(:amount,
                                     class: "form-control",
                                     placeholder: "Valor do produto (individualmente)",
                                     step: 1,
                                     min: 1,
                                     max: @item.amount,
                                     required: true) %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Situação</label>
                <div class="col-sm-9">
                  <select class="form-control" name="lost_status">
                    <option value="stolen">Roubado</option>
                    <option value="deterioration">Deteriorado</option>
                    <option value="donation">Doado</option>
                    <option value="other">Outro</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'item_id', @item.id %>
          <div class="form-group">
            <%= f.submit('Dar baixa', class: 'btn btn-warning rounded', data: {confirm: "Tem certeza?"},) %>
            <%= link_to 'Voltar', backoffice_items_path, class: 'btn btn-primary rounded' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>