<h1>Relatórios de doações</h1>

<div class="row purchace-popup">
  <div class="col-12">
    <span class="d-block d-md-flex align-items-center">
      <%= link_to "/backoffice/time_charts/new", class: "btn btn-success btn-lg btn-fw" do %>
        <i class="mdi mdi-plus-circle" style="color: white"></i>
        <span class="menu-title">Gerar relatório</span>
      <% end %>
    </span>
  </div>
</div>

<% if @time_charts.length == 0 %>

  <div class="card">
    <h3>Você ainda não criou nenhum relatório.</h3>
    <h4>
      <%= link_to "Criar novo relatório", new_backoffice_time_chart_path	%>

    </h4>
  </div>

<% else %>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Listagem de relatórios</h4>
      <div class="table-responsive">
        <table class="table table">
          <thead>
          <tr>
            <th>
              Nome do relatório
            </th>
            <th colspan="3">
              Ações
            </th>
            <th>
              Relatório
            </th>
          </tr>
          </thead>
          <tbody>
          <%= form_for( :time_chart, :url => url_for(:controller => 'backoffice/time_charts', :action => 'chart_new')) do |f| %>
            <% @time_charts.each do |time_chart| %>
              <tr>
                <td>
                  <%= time_chart.name %>
                </td>
                <td>
                  <%= link_to "/backoffice/time_charts/#{time_chart.id}", class: "text-info" do %>
                    <i class="fa fa-reply fa-fw"></i>Informações</a>
                  <% end %>
                </td>
                <td>
                  <%= link_to "/backoffice/time_charts/#{time_chart.id}/edit", class: "text-primary" do %>
                    <i class="fa fa-reply fa-fw"></i>Editar</a>
                  <% end %>
                </td>
                <td>
                  <%= link_to "/backoffice/time_charts/#{time_chart.id}", method: "delete", data: {confirm: "Tem certeza?"}, class: "text-danger" do %>
                    <i class="fa fa-reply fa-fw"></i>Excluir</a>
                  <% end %>
                </td>
                <td>
                  <div class="form-check form-check-flat">
                    <label class="form-check-label">
                      <%= check_box_tag 'time_chart_ids[]', time_chart.id -%> Utilizar
                    </label>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
            </table>
            <div class="form-group">
              <%= f.submit('Gerar gráfico', class: 'btn btn-success rounded') %>
            </div>
          <% end %>
      </div>
    </div>
  </div>

<% end %>