<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-cube text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Total de doações</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0"><%=@total_amount %></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>Quantidade total de produtos no estoque
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-receipt text-warning icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Valor total do estoque</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0"><%= number_to_currency(@total_value, :unit => "R$ ", :separator => ",", :delimiter => ".") %></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i>Soma dos valores de todos os produtos em estoque
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-poll-box text-success icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Vendas</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0"><%= @sold_amount %></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Vendas totais até o momento
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-coin text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Valor total arrecadado</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0"><%= number_to_currency(@sold_value, :unit => "R$ ", :separator => ",", :delimiter => ".") %></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Em termos de produtos vendidos
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-coin text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Valor total perdido</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0"><%= number_to_currency(@lost_value, :unit => "R$ ", :separator => ",", :delimiter => ".") %></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Em termos de produtos perdidos
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-cube text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Total de itens perdidos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0"><%=@lost_amount %></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>Quantidade total de produtos perdidos
        </p>
      </div>
    </div>
  </div>
</div>