<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <%= image_tag("adolescentro.png") %>
          </div>
          <div class="text-wrapper">
            <p class="profile-name"><%= current_user.name %></p>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <%= link_to "/", class: 'nav-link' do %>
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "/backoffice/items", class: 'nav-link' do %>
        <i class="menu-icon mdi mdi-gift"></i>
        <span class="menu-title">Bazar</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "/backoffice/sold_list", class: 'nav-link' do %>
        <i class="menu-icon mdi mdi-coin"></i>
        <span class="menu-title">Vendas bazar</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "/backoffice/inventory_items", class: 'nav-link' do %>
        <i class="menu-icon mdi mdi-view-list"></i>
        <span class="menu-title">Inventário</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "/backoffice/categories", class: 'nav-link' do %>
        <i class="menu-icon mdi mdi-tag"></i>
        <span class="menu-title">Categorias</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "/backoffice/time_charts", class: 'nav-link' do %>
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Relatórios</span>
      <% end %>
    </li>
  </ul>
</nav>